In [21]:
#  variables
myvar = 5
myname = "khushi"
print(type(myvar))
print(type(myname))

print("my name is {}".format(myname))

<class 'int'>
<class 'str'>
my name is khushi

Type Casting

In [8]:

a= 2
b=5.7

print(type(a))
print(type(b))


#type casting 
A = float(a)
B = int(b)

print(A)
print(B)

<class 'int'>
<class 'float'>
2.0
5

String

In [22]:

string_name = "hello"

# Accessing particluar index  in string
print(string_name[3])

# silicing to the end and printing that index element

print(string_name[2:])
#Accessing the element fron starting to index. 3
print(string_name[:3])
 # checking whether the string start with the particular element or not
string_name.startswith("h")

#spliting the strings into substring
a="Hello,World!"
b = a.split(",")
print(b)

l
llo
hel
['Hello', 'World!']

List

In [71]:


#defining a list
my_list = [
    1, 2, 3,
    4, 5, 6,
    ]
print(my_list)
print(len(my_list))    


# taking input in list by user
mylist = []
  

n = int(input("Enter number of elements "))
  

for i in range(0, n):
    ele = int(input())
  
    mylist.append(ele) 
      
print(mylist)

my_list.extend(mylist)
print(my_list)

[1, 2, 3, 4, 5, 6]
6
Enter number of elements 4
5
6
7
8
[5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 5, 6, 7, 8]

Map()

In [63]:

n =int(input())
a = list(map(int,input("Enter the numbers ").strip().split()))[:n]
print(a)

4
Enter the numbers 5 7 22 5
[5, 7, 22, 5]

Tuples

In [29]:
# tuple
thistuple = ("red", "green", "blue")
print(thistuple)

('red', 'green', 'blue')

Dictinary

In [36]:
thisdict = {
  "Name": "Khushi",
  "Age": 20,
}
print(type(thisdict))
print(thisdict.get("Name"))

<class 'dict'>
Khushi

Lambda function

In [61]:
x = lambda a : a+10
print(x(5))

15

Functions

In [40]:
x = "Khushi"  #defining global variable

def myfunc():
  print("My name " + x)

myfunc()

My name Khushi

Classes

In [43]:
class Computer:
  def __init__(self): #defining constructor
    self.name = "khushi"
    self.age = 20
  
c1=Computer()
print(c1.name)

khushi

In [52]:
class Student:
    def __init__(selfstudent, name, age):
        selfstudent.name = name
        selfstudent.age = age
 
    def details(selfstudent):
        print("Employee Name:",  selfstudent.name)
        print("Employee Age:", selfstudent.age)
 
 
student = Student("Khushi", 20)
student.details()

Employee Name: Khushi
Employee Age: 20

Decorators

In [48]:
def div(a,b):
    print(a/b)

def smart_div(func):

    def inner(a,b):

        if a<b:
            a,b = b,a
        return func(a,b)

    return inner

div = smart_div(div)

div(2,4)

2.0

expection handling

In [51]:
try:
  num1 = num2
except NameError as ne:
  print(ne)

name 'num2' is not defined

Inheritence

In [54]:
class Parent:
     def func1(self):
          print("this is function one")
class Child(Parent):
     def func2(self):
          print(" this is function two ")
obj = Child()
obj.func1()
obj.func2()

this is function one
 this is function two