In [1]:
#  variables
myvar = 5
myname = "khushi"
print(type(myvar))
print(type(myname))

print("my name is {}".format(myname))

<class 'int'>
<class 'str'>
my name is khushi

Type Casting

In [2]:

num1= 2
num2=5.7

print(type(num1))
print(type(num2))


#type casting 
number1 = float(num1)
number2 = int(num2)

print(number1)
print(number2)

<class 'int'>
<class 'float'>
2.0
5

String

In [3]:

string_name = "hello"

# Accessing particluar index  in string
print(string_name[3])

# silicing to the end and printing that index element

print(string_name[2:])
#Accessing the element fron starting to index. 3
print(string_name[:3])
 # checking whether the string start with the particular element or not
string_name.startswith("h")

#spliting the strings into substring
string="Hello,World!"
newstring= string.split(",")
print(newstring)

l
llo
hel
['Hello', 'World!']

List

In [16]:


#defining a list
my_list = [
    1, 2, 3,
    4, 5, 6,
    ]
print(my_list)
print(len(my_list))    


# taking input in list by user
mylist = []
  

n = int(input("Enter number of elements "))
  

for number in range(0, n):
    element = int(input())
  
    mylist.append(element) 
      
print(mylist)

my_list.extend(mylist)
print(my_list)

[1, 2, 3, 4, 5, 6]
6
Enter number of elements 4
6
7
8
9
[6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

Map()

In [17]:

numbers =int(input())
lst = list(map(int,input("Enter the numbers ").strip().split()))[:numbers]
print(lst)

3
Enter the numbers 5 6 7
[5, 6, 7]

Tuples

In [6]:
# tuple
thistuple = ("red", "green", "blue")
print(thistuple)

('red', 'green', 'blue')

Dictinary

In [7]:
thisdict = {
  "Name": "Khushi",
  "Age": 20,
}
print(type(thisdict))
print(thisdict.get("Name"))

<class 'dict'>
Khushi

Lambda function

In [18]:
sum = lambda num : num+10
print(sum(5))

15

Functions

In [9]:
name = "Khushi"  #defining global variable

def myfunc():
  print("My name " + name)

myfunc()

My name Khushi

Classes

In [10]:
class Computer:
  def __init__(self): #defining constructor
    self.name = "khushi"
    self.age = 20
  
c1=Computer()
print(c1.name)

khushi

In [11]:
class Student:
    def __init__(selfstudent, name, age):
        selfstudent.name = name
        selfstudent.age = age
 
    def details(selfstudent):
        print("Employee Name:",  selfstudent.name)
        print("Employee Age:", selfstudent.age)
 
 
student = Student("Khushi", 20)
student.details()

Employee Name: Khushi
Employee Age: 20

Decorators

In [12]:
def div(num1,num2):
    print(num1/num2)

def smart_div(func):

    def inner(num1,num2):

        if num1<num2:
            num1,num2 = num2,num1
        return func(num1,num2)

    return inner

div = smart_div(div)

div(2,4)

2.0

expection handling

In [13]:
try:
  num1 = num2
except NameError as ne:
  print(ne)

Inheritence

In [14]:
class Parent:
     def func1(self):
          print("this is function one")
class Child(Parent):
     def func2(self):
          print(" this is function two ")
obj = Child()
obj.func1()
obj.func2()

this is function one
 this is function two