text type:string

In [13]:
mystring= "hello there! how you doing"
str = "people"
print(type(mystring))
print(mystring[1])
print(mystring.upper())
print(mystring + " " + str)
print(mystring.replace("h","H"))
newmystring=mystring.split(" ")
print(newmystring)
print(newmystring[2])
print(newmystring[:3])

<class 'str'>
e
HELLO THERE! HOW YOU DOING
hello there! how you doing people
Hello tHere! How you doing
['hello', 'there!', 'how', 'you', 'doing']
how
['hello', 'there!', 'how']

In [17]:
String1 = '''Wakanda 
            For 
            EVER'''
print("Creating a multiline String") 
print(String1)

Creating a multiline String
    Wakanda
            For
            EVER

NUMERIC TYPE

In [18]:
num1=50
num2=5.44
num3 = 2+3j
print(type(num1))
print(type(num2))
print(type(num3))


#type casting 
number1 = float(num1)
number2 = int(num2)

print(number1)
print(number2)
print("the total member presented in the party was {}".format(num1))

<class 'int'>
<class 'float'>
<class 'complex'>
50.0
5
the total member presented in the party was 50

SEQUENCE TYPE

In [33]:
#list

mylist=[1,3,2.0,"test"]
print(mylist)

#taking input from user with help of for loop
mylst = []
n = int(input("Enter number of elements "))
  

for number in range(0, n):
    element = int(input())
  
    mylst.append(element) 
      
print(mylst)

#taking input from user with help of map()

numbers =int(input("enter the number "))
lst = list(map(int,input("Enter the numbers ").strip().split()))[:numbers]
print(lst)

[1, 3, 2.0, 'test']
Enter number of elements 3
5
5
6
[5, 5, 6]
enter the number 5
Enter the numbers 6 4 3 22 0  7
[6, 4, 3, 22, 0]
3
[[3]]

In [36]:
#taking input from user with help of list comprehension
entr = [int(x) for x in input().split(" ")]
        
N = len(entr)
print(entr)

5 6 7 8
[5, 6, 7, 8]

In [43]:
 # function on list

 list1=[1,2,3,4,5]
 list2=[6,7,8,9,8]
 list3 =["khushi","riya","palak"]
 list1.extend(list2)
 print(list1)
 string=" ".join(list3)
 print(string)
 #silicing
 print(list1[:-1])
 print(list1[::-1]) 
 print(list1[2:4])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8]
khushi riya palak
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[8, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[3, 4]

In [92]:
#reduce() on list
from functools import reduce
reduce(lambda value1,value2: value1+value2,[23,21,45,98])

187

In [78]:
#filter function
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [86]:
#tuple

thistuple = ("red", "green", "blue")
print(thistuple)
print(thistuple[2])

('red', 'green', 'blue')
blue

In [54]:
tuple1=("riya","khushi","tanu","divyanshi")
tuple2=("hi","hello","ola","chao")
tuple3=zip(tuple1,tuple2)
print(list(tuple3))

[('riya', 'hi'), ('khushi', 'hello'), ('tanu', 'ola'), ('divyanshi', 'chao')]

In [55]:
#keyworded variable line arguement
def add(name,**values):
  print(name)
  print(values)
 

add('khushi',rollno=10,city="aburoad",age=30,qualification="btech")

khushi
{'rollno': 10, 'city': 'aburoad', 'age': 30, 'qualification': 'btech'}

In [90]:
#sets
myset ={1,4,5,7,8}
print(myset)
myset.add(0)
print(myset)
print(len(myset))
rollno={5,7,88,9,00,1}
newrollno=frozenset(rollno)
print(newrollno)

{1, 4, 5, 7, 8}
{0, 1, 4, 5, 7, 8}
6
frozenset({0, 1, 5, 7, 88, 9})

In [94]:
# dictionary

thisdict = {
  "Name": "Khushi",
  "Age": 20,
}
print(type(thisdict))
print(thisdict.get("Name"))

<class 'dict'>
Khushi

In [70]:
#taking input in dictionary from user
number = 3

mydict = dict(input("Enter key and value: ").split() for _ in range(number))

print(mydict)

Enter key and value: "red" "cherry"
Enter key and value: "green" "kiwi"
Enter key and value: "yellow" "banana"
{'"red"': '"cherry"', '"green"': '"kiwi"', '"yellow"': '"banana"'}

In [89]:
family = {}
num = int(input("How many members?: "))
for i in range(num):
    realation = input("Enter realation: ")
    name = input("Enter name: ")
    family.update({realation:name})
print(family)

How many members?: 3
Enter realation: father
Enter name: ross
Enter realation: mother
Enter name: rachael
Enter realation: daughter
Enter name: emma
{'father': 'ross', 'mother': 'rachael', 'daughter': 'emma'}

BOOL type

In [77]:
print(type(True))
print(True or False)
print(False or False)
print(True or True)

<class 'bool'>
True
False
True